<!DOCTYPE html>
<html lang="es">

<head>
<meta charset="UTF-8">
<title>Botonera</title>

</head>

<body>
    <label>Sid:</label>
    <input id="sid" name="sid">
    <br>
    <button id="accion1" type="submit" onclick="accion(1)">accion1</button>
    <button id="accion2" type="submit" onclick="accion(2)">accion2</button>
    <button id="accion3" type="submit" onclick="accion(3)">accion3</button>

</body>

<!-- JS Libraies -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
<script src="/static/js/botonera.js"></script>


</html>